# Python
__pycache__/
*.pyc
.venv/
Lib/
Scripts/
pyvenv.cfg
*.dist-info/
*.egg-info/

# Environment variables
.env
.env.local
.env.production

# VSCode
.vscode/
launch.json

# Data/Secrets
mediaid_full_dataset.json
New Text Document.txt

# Build
pip.pyz

# System
Thumbs.db
ehthumbs.db
Desktop.ini

# Created by venv
*