# Python
__pycache__/
*.pyc
.venv/
Lib/
Scripts/
pyvenv.cfg

# VSCode
.vscode/
launch.json

# Data/Secrets
mediaid_full_dataset.json
New Text Document.txt

# Build
*.dist-info/
*.egg-info/
pip.pyz

# System
Thumbs.db
ehthumbs.db
Desktop.ini
# Created by venv; see https://docs.python.org/3/library/venv.html
*
